
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
html, body {
    height: 100%;
}

nav{
    box-shadow: 1px 1px 12px #555;
    font-size: 1.125rem;
}
footer{
    box-shadow: 0px -6px 12px -3px #555;
    z-index: 9000;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

#app{
    min-height: 93.5VH;
}

