div.codec
	div.left
		div.screen
	div.center
		div.ptt PTT
		div.frequency
			div.bars
				- for i in (1..9)
			  		div
			div.lcd
				span.small 88
				span.large 8
				span.large 88
			div.left
			div.right
		div.memory MEMORY
	div.right
		div.screen
	div.chat I can't believe I'm being hit on by the famous Solid Snake...